.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container h1 {
    margin-top: 30px;
    font-weight: bold;
    color: black;
}

.task {
    display: flex;
    gap: 20px;
    padding: 20px;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 6px;
    width: 200px;
}

#taskname {
    border: 3px soild red;
}

button {
    width: 115px;
    background-color: black;
    color: rgb(174, 193, 209);
    border: none;
    outline: none;
    padding: 7px;
}

.completed span{
    text-decoration: line-through;
}

.allButtons {
    width: 600px;
    margin: auto;
}

body {
    background-color: rgb(174, 193, 209);
}